<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/shop.css">

    <title>MyBook</title>
</head>
<body>
    <div class="container-fluid">
        <section class="header-fluid">
            <div class="header">
                <div class="lhead">
                    <a href="../index.html" class="logo">MY<span>BOOK</span></a>
                    <a href="#" class="shop">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M9 22C9.55228 22 10 21.5523 10 21C10 20.4477 9.55228 20 9 20C8.44772 20 8 20.4477 8 21C8 21.5523 8.44772 22 9 22Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20 22C20.5523 22 21 21.5523 21 21C21 20.4477 20.5523 20 20 20C19.4477 20 19 20.4477 19 21C19 21.5523 19.4477 22 20 22Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 1H5L7.68 14.39C7.77144 14.8504  8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                </div>
                <div class="rhead">
                    <ul>
                        <li><a href="#">Explorer</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="blog.html">Blog</a></li>
    
                        <li><a href="../components/account/createaccount.html" class="btn">Login</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="banner-fluid">
            <h1 class="title">appreciate your <br>author's work</h1>
            <p class="suptitle">find your favorite book and read it here for free</p>
            <form method="GET">
                <input type="text" class="search" placeholder="Search Book">
                <input type="submit" value="Search">
            </form>
        </section>

        <main class="main">
            <div class="categories">
                <div class="category">
                    <h1 class="title">Book by Genre</h1>
                    <ul>
                        <li class="active"><a href="#">All Genres</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Fiction</a></li>
                        <li><a href="#">Philosophy</a></li>
                        <li><a href="#">Biography</a></li>
                    </ul>
                </div>
                <div class="category">
                    <h1 class="title">Recomendations</h1>
                    <ul>
                        <li><a href="#">Artist of the Month</a></li>
                        <li><a href="#">Book of the Year</a></li>
                        <li><a href="#">Top Genre</a></li>
                        <li><a href="#">Trending</a></li>
                    </ul>
                </div>
                <div class="category">
                    <h1 class="title">Action and thrillers</h1>
                    <ul>
                        <li><a href="#">Military fighters</a></li>
                        <li><a href="#">Foreign fighters</a></li>
                        <li><a href="#">Crime fighters</a></li>
                        <li><a href="#">Russian fighters</a></li>
                    </ul>
                </div>
            </div>

            <div class="views">
                <div class="view">
                    <div class="view-block">
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-1.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-2.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-3.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-4.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-5.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-6.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-7.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                        <a href="" class="book">
                            <div class="lhead"><img src="../images/books/book-8.png" alt=""></div>
                            <div class="rhead">
                                <h1 class="book-title">all the light we cannot see</h1>
                                <h3 class="book-author">by anthony doerr</h3>
                                <div class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M5.95333 0.311157L7.7929 4.03794L11.9067 4.63923L8.92999 7.53849L9.63248 11.6344L5.95333 9.69955L2.27417 11.6344L2.97666 7.53849L0 4.63923L4.11375 4.03794L5.95333 0.311157Z" fill="#FF971D"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                        <path d="M6.57991 0.311157L8.41949 4.03794L12.5332 4.63923L9.55658 7.53849L10.2591 11.6344L6.57991 9.69955L2.90076 11.6344L3.60325 7.53849L0.626587 4.63923L4.74034 4.03794L6.57991 0.311157Z" fill="#DEDEDE"/>
                                    </svg>
    
                                    <span class="votes">1,988,288 votes</span>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique </p>
                                <button type="submit" class="book-button">Buy Now</button>
                            </div>
                        </a>
                    </div>
                    
                
                </div>
            </div>
        </main>
    
    
        <footer class="footer">
            <div class="f-body">
                <h5 class="website-name"><span>BOOK</span>SHOP</h5>
                <div class="rhead">
                    <ul>
                        <li><a href="#">Explorer</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>