<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/before-registration/style.css">
    <link rel="stylesheet" href="../styles/default.css">
    <title>Freelance.uz</title>
</head>
<body>
    <div class="container-fluid pt-4">
        <div class="container">
            <header class="header">
                <a href="#" class="logo"><img src="../images/logo.svg" alt=""></a>
                <ul>
                    <li><a href="#">Биржа</a></li>
                    <li><a href="#">Ворки</a></li>
                    <li><a href="#">Конкурсы</a></li>
                    <li><a href="#">Создать ворк</a></li>
                    <li><a href="#">Создать заказ</a></li>
                </ul>
                <div class="button-group">
                    <a href="" class="button-light">Регистрация</a>
                    <a href="" class="button-dark">Войти</a>
                </div>
            </header>  
            <section class="banner">
                <div class="lhead">
                    <div class="info">
                        <h1 class="title">Покупайте фриланс-услуги в <span>два клика</span></h1>
                        <p class="text">Ворк — единица работы продавца, которую <br> можно купить как товар в магазине</p>
                        <form action="" method="POST">
                            <input type="text" class="input" placeholder="Что нужно сделать?">
                            <input type="submit" class="input-button" value="Найти">
                        </form>
                        <div class="direction">
                            <h1 class="title">Выберите рубрику, чтобы начать</h1>
                            <div class="row">
                                <div class="col-4 disabled">
                                    <a href="#" class="direction-button-success"><i class="bi bi-chevron-left"></i>Тексты и переводы </a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="direction-button">Тексты и переводы</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="direction-button">Разработка</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <a href="#" class="direction-button">Дизайн</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="direction-button">Аудио, видео монтаж</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="direction-button">SEO и оптимизация</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <a href="#" class="direction-button">Бизнес и жизнь</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="direction-button">Соцсети и реклама</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="direction-button-warning">Все категории</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="rhead">
                    <img src="../images/before-registration/banner.png" alt="">
                </div>
            </section>  
            <section class="actual-works">
                <h1 class="title">Актуальные ворки</h1>
                <div class="row">
                    <div class="col-4">
                        <div class="box">
                            <div class="info">
                                <img src="../images/before-registration/actual-1.png" alt="">
                                <h1 class="suptitle">Сделать дизайн интернет-магазина</h1>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                            <a href="" class="button-success">Посмотреть</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="box">
                            <div class="info">
                                <img src="../images/before-registration/actual-2.png" alt="">
                                <h1 class="suptitle">Верстка landing page</h1>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                            <a href="" class="button-success">Посмотреть</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="box">
                            <div class="info">
                                <img src="../images/before-registration/actual-3.png" alt="">
                                <h1 class="suptitle">Сделать дизайн сайта-каталога и посадить на какой нибудь ко...</h1>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                            <a href="" class="button-success">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="box">
                            <div class="info">
                                <img src="../images/before-registration/actual-4.png" alt="">
                                <h1 class="suptitle">Продвижение instagram</h1>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                            <a href="" class="button-success">Посмотреть</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="box">
                            <div class="info">
                                <img src="../images/before-registration/actual-5.png" alt="">
                                <h1 class="suptitle">Срочно! Нужен веб дизайнер!</h1>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                            <a href="" class="button-success">Посмотреть</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="box-other">
                            <a href="#">Смотреть все ворки</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>